<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serviceName" value="WindowsService2 Name"/>
		<add key="serviceDisplayName" value="WindowsService2 DisplayName"/>
		<add key="serviceDescription" value="WindowsService2 Description"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>